@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
@import "tailwindcss";

html {
  font-family: TikTok Sans;
}

:root{
    --color-header: "#B8B9BD";
    --color-red: "#FD2C54"
    --color-gray: "#E6E6E6"
}

.background{
  background-image: url('./assets/tiktok assets/img1.jpg');
  background-position: center top;
  background-size: contain;
}